name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [main, rye] # branch to trigger deployment

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install a specific version
        uses: eifinger/setup-rye@v3
        with:
          version: 'latest'
      - name: Install dependencies
        run: rye sync
      - name: Build Sphinx
        run: rye run sphinx-build docs/ docs/_build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      # - name: Setup Pages
      #   uses: actions/configure-pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
